fastapi==0.116.1
uvicorn[standard]==0.35.0
python-multipart==0.0.20
rembg==2.0.67
pillow==11.3.0
numpy==2.2.6
onnxruntime==1.22.0
opencv-python-headless==4.11.0.86
scikit-image==0.25.2
pydantic==2.11.7
mangum==0.17.0